NODE_ENV=development
HTTPS=true
PORT=3000
REACT_APP_ASGARDEO_CLIENT_ID=<CLIENT ID TAKEN FROM ASGARDEO CONSOLE>
REACT_APP_ASGARDEO_BASE_URL=<BASE URL TAKEN FROM ASGARDEO CONSOLE>
REACT_APP_ASGARDEO_CALLBACK_URL=<CALLBACK URL AFTER A SUCCESSFUL AUTHENTICATION>
REACT_APP_CHOREO_CLIENT_ID=<CONSUMER ID TAKEN FROM ASGARDEO CONSOLE>
REACT_APP_BASE_API_ENDPOINT=<BASE URL OF CHOREO HOSTED API>
REACT_APP_CHOREO_ORGANIZATION=<ORGANIZATION OF CHOREO HOSTED API>
REACT_APP_CHOREO_TOKEN_ENDPOINT=<CHOREO TOKEN ENDPOINT>
